@page
@model WebApp.Pages.Play.GameOver


    <style>
     
        .gameover {
           text-align: center;         
        }
    </style>


<div class="gameover">
    <h3>Congratulations to the winner</h3>
    <h1>@Model.WinnerNickName</h1>
    <h3>Thanks for playing UNO!</h3>
</div>

